#cursor {
	position: relative;
	width: 10px;
	height: 10px;
}
#cursor div {
	background-color: red;
	position: relative;
	top: -5px;
	left: -5px;
	width: 10px;
	height: 10px;
}
#frame {
	border: solid;
}
